<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a href="index.html" class="waves-effect"><i class="fa fa-search m-r-10" aria-hidden="true"></i>Pesquisar</a>
                </li>
                <li>
                    <a href="pages-profile.html" class="waves-effect"><i class="fa fa-list m-r-10" aria-hidden="true"></i>Relatórios</a>
                </li>
                <li>
                    <a href="table-basic.html" class="waves-effect"><i class="fa fa-vcard m-r-10" aria-hidden="true"></i>Controle de acesso</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>