<html>
<!-- Head -->
<include-html('../components/head.html')/>
<body class="fix-header fix-sidebar card-no-border">
    
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    
    <!-- Main wrapper - style you can find in pages.scss -->    
    <div id="main-wrapper">
    
        <!-- Topbar header - style you can find in pages.scss -->        
        <include-html('../components/header.html')/>

        <!-- Left Sidebar - style you can find in sidebar.scss  -->        
        <include-html('../components/sidebar.html')/>
        
        <div class="page-wrapper">                
            
            <div class="container-fluid">
                
                <!-- Bread crumbs -->                
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Relatórios</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Relatórios</li>
                        </ol>
                    </div>                    
                </div>            
     
                <!-- Page Content -->
                <div class="row">                    
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Visualizar</h4> 
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Nome do procurado</th>
                                                <th>CPF</th>
                                                <th>Gerado em</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <for (report in data.reports)>
                                                <tr>
                                                    <td>${report.name}</td>
                                                    <td>${report.cpf}</td>
                                                    <td>${report.createdAt}</td>
                                                    <td>                                                                                                            
                                                        <a href=`/report/${report.id}` class="btn btn-primary"><i class="fa fa-eye"/></a>
                                                    </td>
                                                </tr>
                                            </for>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>        
                    
            <!-- footer -->           
            <include-html('../components/footer.html')/>

        </div>
    </div>

<!-- scripts -->
<include-html('../components/scripts.html')/>

</body>
</html>